DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contrasena_mysql
DB_NAME=artify_db

ADMIN_USER=admin@artify.com
ADMIN_PASSWORD=tu_contrasena_admin

PORT=3000
NODE_ENV=development
TOKEN_SECRET=clave_de_desarrollo_para_tokens
