/*  Fuente personalizada Anek Latin */
@font-face {
  font-family: 'Anek latin';
  src: url(../assets/fonts/Anek_Latin/AnekLatin-VariableFont_wdth\wght.ttf)
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Reset básico - box-sizing y limpieza de margenes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body centrado con altura minima completa */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #959696b4;
  font-family: 'Anek latin', sans-serif;
  min-height: 100vh;
  padding: 30px 0;
}

/* Layout Principal */

/* Contenedor principal - con tarjeta oscura centrada */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(39, 39, 38);
  padding: 10px 0px 25px;
  border-radius: 0.5rem;
  width: 550px;
  min-height: 600px;
  color: aliceblue;
  gap: 30px;
}

/* Header */
.header {
  text-align: center;
  padding-top: 20px;
}

.header img {
  width: 20%;
}

.header h1 {
  color: EEEEEE;
  font-size: 2rem;
  margin-bottom: 5px;
  font-size: 1.8rem;
}

/* Main - Sistema de Notificaciones */
.notifications {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
}

/* Estilos base de notificación */
.notification {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 0.5rem;
}

/* Texo del mensaje */
.notification p {
  line-height: 1.4;
}

/* Varientes de notificación - Borde izquierdo coloreado */
.notification.error {
  border-left: 4px solid #fb2828;
}

.notification.incomplete {
  border-left: 4px solid #f49118;
}

.notification.success {
  border-left: 4px solid #43b007;
}

.notification.invalid {
  border-left: 4px solid #fb2828;
}

/* Encabezado de notificación - Icono y título */
.icon-message {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

/* Colores de títulos según tipo de notificación */
.h3-error {
  color: #ff4242;
}

.h3-incomplete {
  color: #f49118;
}

.h3-success {
  color: #43b007;
}

.h3-invalid {
  color: #ff4242;
}

/* Estilos base de botones */
button {
  border-radius: 0.3rem;
  height: 40px;
  color: #eeeeee;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  width: 120px;
}

button:hover {
  opacity: 0.8;
}

/* Variantes de botones según tipo de notificación */
.button-error {
  background: #bb1010;
}

.button-incomplete {
  background: #d07b10;
}

.button-success {
  background: #399d04;
}

.button-invalid {
  background: #bb1010;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #e0e0e0;
  font-weight: 600;
  font-size: 0.9rem;
  padding-bottom: 20px;
}

footer a {
  color: #e0e0e0;
  text-decoration: none;
}

.icon {
  display: flex;
  justify-content: center;
}

/* Alineación del icono y texto de GitHub */
.github {
  display: flex;
  align-items: center;
}
